

<div class="container">
  <div class="about">
    <div class="row aboutheading" id="landingpage">
        <h1 class="heading">Event</h1>
    </div>
    <div class="row toppadding">
        <div class="col img" id="aboutleft">
          <h3 class="eventheading"> Cam-Secure</h3>
          <p>  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
          <hr>
          <div id="links">
            <div class="eventlinks"><a href="">Schedule</a></div>
            <div class="eventlinks"><a href="">Photos</a></div>
            <div class="eventlinks"><a href="">Archive</a></div>
            <div class="eventlinks"><a href="">Know more about this event</a></div>
          </div>
          <div id="registerbtn">Register for event
          </div>
        </div>
        <div class="col">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div class="col img" id="aboutimg">
        </div>
    </div>
    <div><hr></div>
  </div>
</div>
