

<div class="container">
  <div id="services" class="about">
    <div class="row aboutheading" id="landingpage">
        <h1 class="heading">Services</h1>
    </div>
    <div class="row toppadding">
        <div class="col-sm-2 nopadding">
          <div class="subdiv submenuback">
            <div class="serviceheading"> All Services</div>
            <div>
              <div class="serviceselect" (click)="showTurnkeyproject()">Turn Key Project</div>
              <div class="serviceselect" (click)="showAnnual()"> Annual</div>
              <div class="serviceselect" (click)="showMaintainance()"> Maintainance</div>
              <div class="serviceselect" (click)="showConsulting()"> Consulting</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 img" id="aboutimg">
        </div>
        <div class="col serviceright" *ngIf="Turnkeyproject">
          <div class="row rightheading"> Turn Key Project</div>
            <div class="toppadding">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
        <div class="col serviceright" *ngIf="Annual">
          <div class="row rightheading"> Annual</div>
            <div class="toppadding">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
        <div class="col serviceright" *ngIf="Maintainance">
          <div class="row rightheading"> Maintainance</div>
            <div class="toppadding">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
        <div class="col serviceright" *ngIf="Consulting">
          <div class="row rightheading"> Consulting</div>
            <div class="toppadding">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </div>
        </div>
    </div>
  </div>
</div>
