

<div class="container">
  <div class="about ">
    <div class="row aboutheading" id="landingpage">
        <h1 class="heading">Even More</h1>
    </div>
    <div class="row toppadding">
      <div class="col-sm-3 img" id="aboutleft" >
        <div style="text-align:center;">
        <a href="" > Notifications </a>
        </div>
      <div class="notif">
        Notifications / Archieve
      </div>
      <div style="display:inline-block;">
        <span style="display:block;padding:5px;">12 Jan 2018</span>
        <span style="display:block;padding:5px;">12 Jan 2018</span>
        <span style="display:block;padding:5px;">12 Jan 2018</span>
        <span style="display:block;padding:5px;">12 Jan 2018</span>
        <span style="display:block;padding:5px;">12 Jan 2018</span>
      </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <div class="notifdetail">
          Notifications will be shown here
        </div>
        <div class="notifdetail">
          Notifications will be shown here
        </div>
        <div class="notifdetail">
          Notifications will be shown here
        </div>
        <div class="notifdetail">
          Notifications will be shown here
        </div>
        <div class="notifdetail">
          Notifications will be shown here
        </div>
        
      </div>
    </div>
  </div>
</div>
